@import "tailwindcss";

@theme {
  --color-beige: #f2e1ce;
  --color-brown: #6b5b49;
  --color-green: #9da399;
  --color-background: #fcf7ed;
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Lato", sans-serif;
}

@layer components {
  .navbar {
    @apply relative flex items-center md:justify-around justify-between px-2 md:px-0 bg-beige shadow-md text-xl font-primary text-brown;
  }
  .dropdown-menu {
    @apply absolute left-1/2 top-full -translate-x-1/2 w-screen bg-background rounded-md shadow-md grid grid-cols-1 md:grid-cols-3  p-8 gap-10 z-50;
  }
  .card {
    @apply bg-background;
  }
  .heading {
    @apply text-2xl md:text-2xl lg:text-4xl font-semibold;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.6s ease-out both;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.snap-child {
  scroll-snap-align: start;
}
::-webkit-scrollbar {
  height: 7px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 999px;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-secondary);
}
