@import "tailwindcss";

@theme {
  --color-beige: #f2e1ce;
  --color-brown: #6b5b49;
  --color-green: #9da399;
  --color-background: #fcf7ed;
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Lato", sans-serif;
}

@layer components {
  .navbar {
    @apply relative flex items-center md:justify-around justify-between px-2 md:px-0 bg-beige shadow-md text-xl font-primary text-brown;
  }
  .dropdown-menu {
    @apply absolute left-1/2 top-full -translate-x-1/2 w-[90vw] bg-background rounded-md shadow-md grid grid-cols-1 md:grid-cols-3  p-8 gap-10 z-50;
  }
  .card {
    @apply bg-background rounded-lg shadow-lg p-6;
  }
  .heading {
    @apply text-2xl font-semibold mb-10 text-brown/80;
  }
}

body {
  background-color: var(--color-background);
  font-family: var(--font-secondary);
}
